.front-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-container {
    background-color: gray;
    padding: 10px;
    height: 600px;
    flex: 1;
    text-align: left;
}

.right-container {
    background-color: rgb(143, 110, 110);
    padding: 10px;
    height: 600px;
    flex: 4;
    text-align: right;
}

/* Styling for the vertical menu */

.customize-h2 {
    font-family: 'Arial', monospace;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 30px;
    color: #444444;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    background: linear-gradient(to right, #ff6a00, #ff9500);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10px 0;
    border-bottom: 2px solid #ff6a00;
}
